{% extends "base.html" %}
{% load staticfiles %}
{% block 'content %}
  <h1 class="text-center">Django + VueJs </h1>
  <div id="app">
    [[ message ]]
  </div>
  <br>
  <div class="content text-center">
    <a class="btn btn-success" href="{% url 'user_profile_create' %}">Create User</a>
  </div>
{% endblock %}
{% block 'extraJs %}
  <script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
        message: 'Vue it"s here!'
      }
    })
  </script>
{% endblock %}